<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Diary App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <form action="http://127.0.0.1:5000"> </form>
        
            <div class="home_body">

                <h1> f"Welcome, {userName}!" </h1>
                <h3> Click to login to your user or to sign up! </h3>
                <p> <button class="button button1"> Sign Up </button> </p>
                <p> <button class="button button2"> Login </button> </p>

            </div>
</body>


</html>