<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Entry</title>
        <link rel="stylesheet" href="static/style.css">

    </head>

    <body>

        <!-- Logout button -->
        <div class="header">

            <a href="{{ url_for('logout') }}" class="logout-button"> Logout </a>

        </div>
        
        <!-- Go back button -->
        <div class="arr">

            <button onclick="window.history.back();" class="go-back-button"> </button>

        </div>

        <!-- View entry -->

        <h1 class = "title"> View Latest Entries </h1>

        {content}

    </body>

</html>